<?xml version="1.0" encoding="utf-8" standalone="no"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.pinarsu.siparis" platformBuildVersionCode="25" platformBuildVersionName="7.1.1">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_CALENDAR"/>
    <uses-permission android:name="android.permission.WRITE_CALENDAR"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <permission android:name="com.pinarsu.siparis.permission.C2D_MESSAGE" android:protectionLevel="signature"/>
    <uses-permission android:name="com.pinarsu.siparis.permission.C2D_MESSAGE"/>
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>
    <uses-feature android:glEsVersion="0x00020000" android:required="true"/>
    <application android:allowBackup="true" android:icon="@drawable/pinar_icon" android:label="@string/app_name" android:largeHeap="true" android:name="com.pinarsu.siparis.MyApplication" android:theme="@style/MyMaterialTheme">
        <activity android:label="@string/app_name" android:name="com.pinarsu.siparis.ui.activity.MainActivity" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name="com.pinarsu.siparis.ui.activity.AllAddressActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.pinarsu.siparis.ui.activity.ProductListActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.pinarsu.siparis.ui.activity.DeliveryHoursActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.pinarsu.siparis.ui.activity.AddReminderActivity" android:screenOrientation="portrait" android:windowSoftInputMode="stateHidden"/>
        <activity android:name="com.pinarsu.siparis.ui.activity.PrivacyAgreementActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.pinarsu.siparis.ui.activity.SurveyActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.pinarsu.siparis.ui.activity.CreateAddressActivity" android:screenOrientation="portrait" android:windowSoftInputMode="stateHidden"/>
        <activity android:name="com.pinarsu.siparis.ui.activity.OrderActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.pinarsu.siparis.ui.activity.ImageViewerActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.pinarsu.siparis.ui.activity.SurveyPreviewActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.pinarsu.siparis.ui.activity.SendVerificationCodeActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.pinarsu.siparis.ui.activity.SendVerificationLastStepActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.pinarsu.siparis.ui.activity.MatchSuccessActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.pinarsu.siparis.ui.activity.AddressCheckActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.pinarsu.siparis.ui.activity.LoginActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.pinarsu.siparis.ui.activity.TutorialActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.pinarsu.siparis.ui.activity.ExceptionActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.pinarsu.siparis.ui.activity.Order4Activity" android:screenOrientation="portrait"/>
        <activity android:name="com.pinarsu.siparis.ui.activity.CreateCustomerActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.pinarsu.siparis.ui.activity.SSSActivity" android:screenOrientation="portrait"/>
        <meta-data android:name="io.fabric.ApiKey" android:value="6184d690211cc19deec96ef14b6a85580d8d88e3"/>
        <receiver android:exported="true" android:name="com.google.android.gms.gcm.GcmReceiver" android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE"/>
                <category android:name="com.pinarsu.siparis"/>
            </intent-filter>
        </receiver>
        <service android:exported="false" android:name="com.pinarsu.siparis.gcm.MyGCMListenerService">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE"/>
            </intent-filter>
        </service>
        <service android:exported="false" android:name="com.pinarsu.siparis.gcm.MyInstanceIDListenerService">
            <intent-filter>
                <action android:name="com.google.android.gms.iid.InstanceID"/>
            </intent-filter>
        </service>
        <service android:exported="false" android:name="com.pinarsu.siparis.gcm.GCMRegistrationService"/>
        <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version"/>
        <receiver android:exported="true" android:name="com.adjust.sdk.AdjustReferrerReceiver">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER"/>
            </intent-filter>
        </receiver>
        <activity android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize|uiMode" android:name="com.google.android.gms.ads.AdActivity" android:theme="@android:style/Theme.Translucent"/>
        <activity android:name="com.google.android.gms.ads.purchase.InAppPurchaseActivity" android:theme="@style/Theme.IAPTheme"/>
        <activity android:exported="true" android:name="com.google.android.gms.appinvite.PreviewActivity" android:theme="@style/Theme.AppInvite.Preview">
            <intent-filter>
                <action android:name="com.google.android.gms.appinvite.ACTION_PREVIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:excludeFromRecents="true" android:exported="false" android:name="com.google.android.gms.auth.api.signin.internal.SignInHubActivity" android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <service android:exported="true" android:name="com.google.android.gms.auth.api.signin.RevocationBoundService" android:permission="com.google.android.gms.auth.api.signin.permission.REVOCATION_NOTIFICATION"/>
        <service android:name="com.google.firebase.crash.internal.service.FirebaseCrashReceiverService" android:process=":background_crash"/>
        <service android:name="com.google.firebase.crash.internal.service.FirebaseCrashSenderService" android:process=":background_crash"/>
        <service android:exported="true" android:name="com.google.firebase.messaging.FirebaseMessagingService">
            <intent-filter android:priority="-500">
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
        <service android:enabled="true" android:exported="false" android:name="com.google.android.gms.tagmanager.TagManagerService"/>
        <activity android:name="com.google.android.gms.tagmanager.TagManagerPreviewActivity" android:noHistory="true">
            <intent-filter>
                <data android:scheme="tagmanager.c.com.pinarsu.siparis"/>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
            </intent-filter>
        </activity>
        <receiver android:enabled="true" android:name="com.google.android.gms.measurement.AppMeasurementReceiver">
            <intent-filter>
                <action android:name="com.google.android.gms.measurement.UPLOAD"/>
            </intent-filter>
        </receiver>
        <service android:enabled="true" android:exported="false" android:name="com.google.android.gms.measurement.AppMeasurementService"/>
        <receiver android:exported="true" android:name="com.google.firebase.iid.FirebaseInstanceIdReceiver" android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE"/>
                <action android:name="com.google.android.c2dm.intent.REGISTRATION"/>
                <category android:name="com.pinarsu.siparis"/>
            </intent-filter>
        </receiver>
        <receiver android:exported="false" android:name="com.google.firebase.iid.FirebaseInstanceIdInternalReceiver"/>
        <service android:exported="true" android:name="com.google.firebase.iid.FirebaseInstanceIdService">
            <intent-filter android:priority="-500">
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>
        <activity android:exported="false" android:name="com.google.android.gms.common.api.GoogleApiActivity" android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <provider android:authorities="com.pinarsu.siparis.firebaseinitprovider" android:exported="false" android:initOrder="100" android:name="com.google.firebase.provider.FirebaseInitProvider"/>
    </application>
</manifest>
