<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="7" android:versionName="3.2" package="com.pinarsu.siparis" platformBuildVersionCode="25" platformBuildVersionName="7.1.1">
    <uses-sdk android:minSdkVersion="18" android:targetSdkVersion="25" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <permission android:name="com.pinarsu.siparis.permission.C2D_MESSAGE" android:protectionLevel="signature|signatureOrSystem" />
    <uses-permission android:name="com.pinarsu.siparis.permission.C2D_MESSAGE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-feature android:glEsVersion="20000" android:required="true" />
    <application android:theme="@style/MyMaterialTheme" android:label="@string/app_name" android:icon="@drawable/pinar_icon" android:name="com.pinarsu.siparis.MyApplication" android:allowBackup="true" android:largeHeap="true">
        <activity android:label="@string/app_name" android:name="com.pinarsu.siparis.ui.activity.MainActivity" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.pinarsu.siparis.ui.activity.AllAddressActivity" android:screenOrientation="portrait" />
        <activity android:name="com.pinarsu.siparis.ui.activity.ProductListActivity" android:screenOrientation="portrait" />
        <activity android:name="com.pinarsu.siparis.ui.activity.DeliveryHoursActivity" android:screenOrientation="portrait" />
        <activity android:name="com.pinarsu.siparis.ui.activity.AddReminderActivity" android:screenOrientation="portrait" android:windowSoftInputMode="stateHidden|stateAlwaysHidden" />
        <activity android:name="com.pinarsu.siparis.ui.activity.PrivacyAgreementActivity" android:screenOrientation="portrait" />
        <activity android:name="com.pinarsu.siparis.ui.activity.SurveyActivity" android:screenOrientation="portrait" />
        <activity android:name="com.pinarsu.siparis.ui.activity.CreateAddressActivity" android:screenOrientation="portrait" android:windowSoftInputMode="stateHidden|stateAlwaysHidden" />
        <activity android:name="com.pinarsu.siparis.ui.activity.OrderActivity" android:screenOrientation="portrait" />
        <activity android:name="com.pinarsu.siparis.ui.activity.ImageViewerActivity" android:screenOrientation="portrait" />
        <activity android:name="com.pinarsu.siparis.ui.activity.SurveyPreviewActivity" android:screenOrientation="portrait" />
        <activity android:name="com.pinarsu.siparis.ui.activity.SendVerificationCodeActivity" android:screenOrientation="portrait" />
        <activity android:name="com.pinarsu.siparis.ui.activity.SendVerificationLastStepActivity" android:screenOrientation="portrait" />
        <activity android:name="com.pinarsu.siparis.ui.activity.MatchSuccessActivity" android:screenOrientation="portrait" />
        <activity android:name="com.pinarsu.siparis.ui.activity.AddressCheckActivity" android:screenOrientation="portrait" />
        <activity android:name="com.pinarsu.siparis.ui.activity.LoginActivity" android:screenOrientation="portrait" />
        <activity android:name="com.pinarsu.siparis.ui.activity.TutorialActivity" android:screenOrientation="portrait" />
        <activity android:name="com.pinarsu.siparis.ui.activity.ExceptionActivity" android:screenOrientation="portrait" />
        <activity android:name="com.pinarsu.siparis.ui.activity.Order4Activity" android:screenOrientation="portrait" />
        <activity android:name="com.pinarsu.siparis.ui.activity.CreateCustomerActivity" android:screenOrientation="portrait" />
        <activity android:name="com.pinarsu.siparis.ui.activity.SSSActivity" android:screenOrientation="portrait" />
        <meta-data android:name="io.fabric.ApiKey" android:value="6184d690211cc19deec96ef14b6a85580d8d88e3" />
        <receiver android:name="com.google.android.gms.gcm.GcmReceiver" android:permission="com.google.android.c2dm.permission.SEND" android:exported="true">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <category android:name="com.pinarsu.siparis" />
            </intent-filter>
        </receiver>
        <service android:name="com.pinarsu.siparis.gcm.MyGCMListenerService" android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>
        <service android:name="com.pinarsu.siparis.gcm.MyInstanceIDListenerService" android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.gms.iid.InstanceID" />
            </intent-filter>
        </service>
        <service android:name="com.pinarsu.siparis.gcm.GCMRegistrationService" android:exported="false" />
        <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version" />
        <receiver android:name="com.adjust.sdk.AdjustReferrerReceiver" android:exported="true">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>
        <activity android:theme="@*android:style/Theme.Translucent" android:name="com.google.android.gms.ads.AdActivity" android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize" />
        <activity android:theme="@style/Theme.IAPTheme" android:name="com.google.android.gms.ads.purchase.InAppPurchaseActivity" />
        <activity android:theme="@style/Theme.AppInvite.Preview" android:name="com.google.android.gms.appinvite.PreviewActivity" android:exported="true">
            <intent-filter>
                <action android:name="com.google.android.gms.appinvite.ACTION_PREVIEW" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:theme="@*android:style/Theme.Translucent.NoTitleBar" android:name="com.google.android.gms.auth.api.signin.internal.SignInHubActivity" android:exported="false" android:excludeFromRecents="true" />
        <service android:name="com.google.android.gms.auth.api.signin.RevocationBoundService" android:permission="com.google.android.gms.auth.api.signin.permission.REVOCATION_NOTIFICATION" android:exported="true" />
        <service android:name="com.google.firebase.crash.internal.service.FirebaseCrashReceiverService" android:process=":background_crash" />
        <service android:name="com.google.firebase.crash.internal.service.FirebaseCrashSenderService" android:process=":background_crash" />
        <service android:name="com.google.firebase.messaging.FirebaseMessagingService" android:exported="true">
            <intent-filter android:priority="-500">
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name="com.google.android.gms.tagmanager.TagManagerService" android:enabled="true" android:exported="false" />
        <activity android:name="com.google.android.gms.tagmanager.TagManagerPreviewActivity" android:noHistory="true">
            <intent-filter>
                <data android:scheme="tagmanager.c.com.pinarsu.siparis" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>
        <receiver android:name="com.google.android.gms.measurement.AppMeasurementReceiver" android:enabled="true">
            <intent-filter>
                <action android:name="com.google.android.gms.measurement.UPLOAD" />
            </intent-filter>
        </receiver>
        <service android:name="com.google.android.gms.measurement.AppMeasurementService" android:enabled="true" android:exported="false" />
        <receiver android:name="com.google.firebase.iid.FirebaseInstanceIdReceiver" android:permission="com.google.android.c2dm.permission.SEND" android:exported="true">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />
                <category android:name="com.pinarsu.siparis" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.google.firebase.iid.FirebaseInstanceIdInternalReceiver" android:exported="false" />
        <service android:name="com.google.firebase.iid.FirebaseInstanceIdService" android:exported="true">
            <intent-filter android:priority="-500">
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <activity android:theme="@*android:style/Theme.Translucent.NoTitleBar" android:name="com.google.android.gms.common.api.GoogleApiActivity" android:exported="false" />
        <provider android:name="com.google.firebase.provider.FirebaseInitProvider" android:exported="false" android:authorities="com.pinarsu.siparis.firebaseinitprovider" android:initOrder="100" />
    </application>
</manifest>
